@use "./components/_nav.scss";

body {
  background-color: whitesmoke;
  margin: 20px;
  color: black;
}

h1 {
  text-align: center;
  color: green;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: black;
}

.titulo {
  text-align: center;
  color: green;
}

.subtitulo {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 25px;
}

.item {
  flex: 1 1 250px;
  max-width: 200px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.precio {
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.contacto {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 10px;
    color: black;
  }

  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
}

.btn,
input[type="submit"] {
  margin-top: 15px;
  padding: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: grey;

  a {
    color: #4CAF50;
    text-decoration: underline;
  }

  b {
    color: #4CAF50;
    text-decoration: underline;
  }
}

.mi-imagen {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  height: auto;
  object-fit: cover;
}



