#carouselProductos {
  background-color: #f8f4e3;
  padding: 20px;
  border-radius: 12px;
  position: relative;

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .carousel-control-prev {
    left: 10px;
  }

  .carousel-control-next {
    right: 10px;
  }
}
